<div id="menu">
  <div>
    <%= link_to "Tracks", tracks_path %><br />
    <%= link_to "Contributors", users_path %><br />
    <%= link_to "Activity", comments_path %><br />
  </div>
  <div>
    <% if @logged_in %>
      <%= link_to "Upload New", new_track_path %><br />
      <%= link_to "Manage", manage_path %><br />
      <%= link_to "Profile", user_path(@current_user) %><br />
      <%= link_to "Logout", logout_path %>
      
      
      
    <% else %>
      <%= link_to "Login", login_path %>
    <% end %>
  </div>
</div>