<div class="track-container">
  <div class="track-player">
    <p id="track_<%= track.id %>"><%= track.artist %> - <%= track.title %> (cannot be shown)</p>    
    <script type="text/javascript">  
      AudioPlayer.embed("track_<%= track.id %>", 
        { soundFile: "<%= track.audio.url %>",
          initialvolume: 85,
          });  
    </script>
    <div class="track-details">
      <%= "#{track.artist} - #{track.title}" %>
      <br />
      <%= link_to "#{track.comments.size} Comments", track_path(track) %> / 
      <%= link_to "add one", new_track_comment_path(track) %>
      <% if @logged_in && track.user.id == @current_user.id %>
        / <%= link_to "delete track", track_path(track), :method => :delete, :confirm => "Are you sure?" %>
      <% end %>
    </div>
  </div>
  <% if track.user.image %>
    <div class="track-user-pic"> 
      <a href="<%= user_path(track.user) %>"><img src="<%= track.user.image %>" width="60" /></a>
    </div>
  <% end %>
  <div class="clear"></div>
  
</div>