<div class="track-container">
  <p id="track_<%= track.id %>"><%= track.artist %> - <%= track.title %> (cannot be shown)</p>  
  <div class="track-player">
    <script type="text/javascript">  
      AudioPlayer.embed("track_<%= track.id %>", 
        { soundFile: "<%= track.url %>",
          titles: "<%= track.title %>",
          artists: "<%= track.artist %>",
          initialvolume: 85,
          });  
    </script>
  </div>
  <div class="track-details">
    <%= "#{track.artist} - #{track.title}" %> <em>uploaded by <%= link_to track.user.username, user_path(track.user) %></em>
    <br />
    <%= link_to "New Comment (#{track.comments.size})", new_track_comment_path(track) %>
  </div>

</div>