<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Comments: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'default' %>
  <%= javascript_include_tag 'audio-player' %>
  <script type="text/javascript">  
      AudioPlayer.setup("/swf/player.swf", {  
          width: 290  
      });  
  </script>
</head>
<body>
  <div id="header">
    Cyb.org <%= link_to "_", root_path %>
  </div>
  <div id="content-wrapper">
    <%= render :partial => "shared/menu" %>
    <div id="content">
      <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
      <% end %>
      <% if flash[:error] %>
        <div id="error"><%= flash[:error] %></div>
      <% end %>
    
      <%= yield %>
    </div>
    <div class="clear"></div>
  </div>
</body>
</html>
